/* Import */
/* Default */
/* Mixin */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Grid System */
/* Mobile-Tablet, Tablet-Laptop, Laptop - Desktop, Desktop - Widescreen */
/* Tablet, Laptop, Desktop MAXIMUM */
/* Tablet, Laptop, Desktop MINIMUM */
/* Container */
.container {
  width: 1170px;
  margin: 0 auto;
  position: relative;
  clear: both; }
  .container:before {
    content: " ";
    display: table; }
  .container:after {
    content: " ";
    display: table;
    clear: both; }

.container-fluid {
  min-width: 100%;
  clear: both; }
  .container-fluid:before {
    content: " ";
    display: table; }
  .container-fluid:after {
    content: " ";
    display: table;
    clear: both; }

/* Classes */
.row {
  margin: 0 auto;
  clear: both; }
  .row:before {
    content: " ";
    display: table; }
  .row:after {
    content: " ";
    display: table;
    clear: both; }

.row.row-minus {
  margin-left: -0.9375rem;
  margin-right: -0.9375rem; }

.row.column {
  float: none; }

.column {
  width: 100%;
  min-height: 1px;
  float: left;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }

.clearfix {
  clear: both; }
  .clearfix:before {
    content: " ";
    display: table; }
  .clearfix:after {
    content: " ";
    display: table;
    clear: both; }

/* Fonts */
/* Default */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background: #ededed;
  color: #4f4f4f;
  font: 15px/25px "Open Sans", sans-serif; }

::selection {
  color: #000;
  background: #f6ae04; }

::-moz-selection {
  color: #000;
  background: #f6ae04; }

p {
  padding: 18px 0 0;
  margin: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

h1, h2, h3, h4 {
  margin: 0; }

h1 {
  padding: 30px 0 20px;
  color: #4f4f4f;
  font-size: 25px;
  font-weight: normal;
  line-height: 30px; }

a {
  color: #303841;
  text-decoration: none;
  transition: .2s ease-in-out;
  outline: none; }
  a:hover {
    color: #ffc12d;
    text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

input[type="text"],
input[type="password"] {
  padding: 5px 40px 5px 20px;
  color: #4f4f4f;
  background: #fff;
  transition: .2s ease-in-out;
  outline: none;
  font-size: 12px;
  font-weight: normal;
  line-height: 26px;
  border-color: #ededed;
  border-width: 1px;
  border-style: solid;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
  input[type="text"]:focus,
  input[type="password"]:focus {
    background: #e1fcff;
    border-color: #00aeef;
    -moz-box-shadow: 0 0 4px #00aeef;
    -webkit-box-shadow: 0 0 4px #00aeef;
    box-shadow: 0 0 4px #00aeef; }

.btn {
  padding: 5px 28px;
  display: inline-block;
  color: #ffc12d;
  text-align: center;
  text-transform: uppercase;
  background: #303841;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-color: #3090cf;
  border-width: 0px;
  border-style: solid; }
  .btn:hover {
    text-decoration: none; }
  .btn.btn-block {
    display: block; }
  .btn:hover {
    color: #fff;
    background: #565a5f; }

/*------------------------------------ Content */
.footer-spacing {
  height: 50px;
  clear: both; }
  .footer-spacing:before {
    content: " ";
    display: table; }
  .footer-spacing:after {
    content: " ";
    display: table;
    clear: both; }

/*----------------------------- Sidebar Column */
.sidebar-bg {
  width: 319px;
  background: #303841;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  position: fixed; }

.sidebar-column {
  width: 319px;
  padding: 45px 0 0;
  float: left;
  position: relative; }

/* Logo */
.logo-box {
  padding: 0 26px 55px;
  font-size: 28px;
  font-weight: normal;
  line-height: 30px; }
  .logo-box a {
    color: #ffc12d; }
    .logo-box a:hover {
      color: #fff; }

/* Category Menu */
.category-menu li a {
  padding: 10px 26px;
  display: block;
  color: #fff;
  position: relative;
  font-size: 18px;
  font-weight: normal;
  line-height: 32px; }
  .category-menu li a:before {
    content: "";
    display: inline-block;
    height: 2px;
    background: #394149;
    top: auto;
    left: 18px;
    right: 18px;
    bottom: 0;
    position: absolute; }
  .category-menu li a i.fa {
    min-width: 42px; }
  .category-menu li a.active {
    top: -2px;
    background: #442a9d;
    font-size: 18px;
    font-weight: normal;
    line-height: 48px; }
    .category-menu li a.active:before {
      content: "";
      display: inline-block;
      width: 5px;
      height: auto;
      background: #ffc12d;
      top: 0px;
      left: 0;
      right: auto;
      bottom: 0;
      position: absolute; }
  .category-menu li a:hover {
    color: #ffc12d; }

/*----------------------------- Content Column */
.content-column {
  width: calc(100% - 319px);
  float: left;
  background: #fff; }

/* Top */
.content-top__wrap {
  padding: 15px 35px 12px;
  clear: both;
  border-color: #f8f8f8;
  border-width: 0 0 2px;
  border-style: solid; }
  .content-top__wrap:before {
    content: " ";
    display: table; }
  .content-top__wrap:after {
    content: " ";
    display: table;
    clear: both; }

.content-top__breadcrumbs {
  width: 30%;
  float: left;
  overflow: hidden; }
  .content-top__breadcrumbs li {
    padding: 10px 25px 0 0;
    float: left;
    color: #442a9d;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px; }
    .content-top__breadcrumbs li:before {
      content: "\f105";
      font-family: FontAwesome;
      margin-right: 19px;
      color: #4f4f4f; }
    .content-top__breadcrumbs li:first-child:before {
      display: none; }

.content-top__panel {
  max-width: 70%;
  float: right;
  letter-spacing: -0.3em; }
  .content-top__panel > * {
    vertical-align: middle; }

.content-top__search {
  letter-spacing: normal;
  display: inline-block;
  position: relative; }
  .content-top__search input[type="text"] {
    min-width: 285px; }
  .content-top__search a {
    color: #999;
    transform: translateY(-50%);
    top: 50%;
    left: auto;
    right: 17px;
    bottom: auto;
    position: absolute; }
  @media screen and (min-width: 1000px) and (max-width: 1200px) {
    .content-top__search input[type="text"] {
      min-width: 200px; } }
  @media screen and (max-width: 999px) {
    .content-top__search input[type="text"] {
      max-width: 120px;
      min-width: inherit; } }

.content-top__notice {
  padding-left: 42px;
  letter-spacing: normal;
  display: inline-block;
  font-size: 17px;
  font-weight: normal;
  line-height: 18px; }
  .content-top__notice a {
    position: relative;
    color: #dedede; }
    .content-top__notice a:hover {
      color: #595959; }
    .content-top__notice a span {
      min-width: 17px;
      padding: 0 2px 0 2px;
      color: #fff;
      text-align: center;
      background: #f14e95;
      font-size: 12px;
      font-weight: bold;
      line-height: 17px;
      top: -2px;
      left: auto;
      right: -12px;
      bottom: auto;
      position: absolute;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px; }
  @media screen and (min-width: 1000px) and (max-width: 1200px) {
    .content-top__notice {
      padding-left: 32px; } }
  @media screen and (max-width: 999px) {
    .content-top__notice {
      padding-left: 22px; } }

.content-top__login {
  padding-left: 42px;
  letter-spacing: normal;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px; }
  .content-top__login img {
    max-width: 38px;
    margin-right: 12px;
    vertical-align: middle;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  @media screen and (min-width: 1000px) and (max-width: 1200px) {
    .content-top__login {
      padding-left: 32px; } }
  @media screen and (max-width: 999px) {
    .content-top__login {
      padding-left: 22px; } }

/* Middle */
.content-middle__wrap {
  padding: 61px 35px 0;
  clear: both; }
  .content-middle__wrap:before {
    content: " ";
    display: table; }
  .content-middle__wrap:after {
    content: " ";
    display: table;
    clear: both; }

.content-middle__image {
  width: 128px;
  padding: 0 20px 0 0;
  float: left; }
  .content-middle__image img {
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }

.content-middle__data {
  width: calc(100% - 128px);
  float: left; }

.content-middle__title {
  padding: 0 0 14px;
  border-color: #f1f1f1;
  border-width: 0 0 2px;
  border-style: solid; }
  .content-middle__title .title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px; }
  .content-middle__title .status {
    padding: 0 8px;
    margin-left: 20px;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    background: #ffc12d;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
    line-height: 19px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
  .content-middle__title .note {
    padding: 3px 0 0;
    color: #999; }

.content-middle__feedback {
  padding: 21px 0px 0 0;
  clear: both; }
  .content-middle__feedback:before {
    content: " ";
    display: table; }
  .content-middle__feedback:after {
    content: " ";
    display: table;
    clear: both; }

.content-middle__phone {
  width: 32%;
  padding-right: 10px;
  float: left;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 12px;
  font-weight: bold;
  line-height: 24px; }
  .content-middle__phone span {
    display: block;
    color: #442a9d; }

.content-middle__button {
  width: 30%;
  padding-top: 7px;
  float: right;
  text-align: right; }

/* Tabs Menu */
.tabs-menu {
  padding: 84px 35px 0;
  position: relative;
  bottom: -3px;
  clear: both; }
  .tabs-menu:before {
    content: " ";
    display: table; }
  .tabs-menu:after {
    content: " ";
    display: table;
    clear: both; }
  .tabs-menu li {
    padding-right: 29px;
    float: left; }
    .tabs-menu li a {
      padding: 0 15px 20px;
      display: block;
      text-transform: uppercase;
      position: relative;
      font-size: 14px;
      font-weight: bold;
      line-height: 20px; }
      .tabs-menu li a.active:before {
        content: "";
        display: inline-block;
        height: 6px;
        background: #442a9d;
        top: auto;
        left: 0px;
        right: 0px;
        bottom: 0;
        position: absolute;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px; }

/*------------------------------------- Footer */
/*-------------------------------------------  */

/*# sourceMappingURL=main.css.map */
