/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* Default */
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #ededed;
	color: $main-color;
	font: #{$main-font-size}/#{$main-line-height} $main-font-family;
}

::selection { color: #000; background: #f6ae04; }
::-moz-selection { color: #000; background: #f6ae04; }

p {
	padding: 18px 0 0;
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1, h2, h3, h4 { margin: 0;}

h1 {
	padding: 30px 0 20px;
	color: $main-color;
	@include font (25,30);
}

a {
	color: $main-link-color;
	text-decoration: none;
	transition: .2s ease-in-out;
	outline: none;
	&:hover {
		color: $main-link-color-hover;
		text-decoration: none;
	}
}

img {
	max-width: 100%;
	height: auto;
}

input[type="text"],
input[type="password"] {
	padding: 5px 40px 5px 20px;
	color: $main-color;
	background: #fff;
	transition: .2s ease-in-out;
	outline: none;
	@include font (12,26);
	@include border (#ededed,1px);
	@include border-radius (3px);
	&:focus {
		background: #e1fcff;
		border-color: #00aeef;
		@include box-shadow (0 0 4px #00aeef);
	}
}

.btn {
	padding: 5px 28px;
	display: inline-block;
	color: $orange;
	text-align: center;
	text-transform: uppercase;
	background: #303841;
	@include font (14,26,bold);
	@include link-decoration (none,none);
	@include border-radius (4px);
	@include border (#3090cf,0px);
	&.btn-block {
		display: block;
	}
	&:hover {
		color: #fff;
		background: #565a5f;
	}
}
