/* Grid System */
@mixin widescreen			{@media screen and (min-width: ($widescreen-breakpoint)) {@content;}}
@mixin desktop 				{@media screen and (min-width: $desktop-breakpoint) and (max-width: ($widescreen-breakpoint - 1)) {@content;}}
@mixin laptop 				{@media screen and (min-width: $laptop-breakpoint) and (max-width: ($desktop-breakpoint - 1)) {@content;}}
@mixin tablet 				{@media screen and (min-width: $tablet-breakpoint) and (max-width: ($laptop-breakpoint - 1)) {@content;}}
@mixin mobile 				{@media screen and (min-width: $mobile-breakpoint) and (max-width: ($tablet-breakpoint - 1)) {@content;}}

/* Mobile-Tablet, Tablet-Laptop, Laptop - Desktop, Desktop - Widescreen */
@mixin desktop-widescreen 	{@media screen and (min-width: $desktop-breakpoint) and (max-width: $widescreen-breakpoint) {@content;}}
@mixin laptop-desktop 		{@media screen and (min-width: $laptop-breakpoint) and (max-width: ($widescreen-breakpoint - 1)) {@content;}}
@mixin tablet-laptop 		{@media screen and (min-width: $tablet-breakpoint) and (max-width: ($desktop-breakpoint - 1)) {@content;}}
@mixin mobile-tablet 		{@media screen and (min-width: $mobile-breakpoint) and (max-width: ($laptop-breakpoint - 1)) {@content;}}

/* Tablet, Laptop, Desktop MAXIMUM */
@mixin desktop-max 			{@media screen and (max-width: ($widescreen-breakpoint - 1)) {@content;}}
@mixin laptop-max   		{@media screen and (max-width: ($desktop-breakpoint - 1)) {@content;}}
@mixin tablet-max   		{@media screen and (max-width: ($laptop-breakpoint - 1)) {@content;}}

/* Tablet, Laptop, Desktop MINIMUM */
@mixin desktop-min  		{@media screen and (min-width: $desktop-breakpoint) {@content;}}
@mixin laptop-min 			{@media screen and (min-width: $laptop-breakpoint) {@content;}}
@mixin tablet-min   		{@media screen and (min-width: $tablet-breakpoint) {@content;}}


/* Container */
.container {
	width: $width-main;
	margin: 0 auto;
	position: relative;
	@include clearfix;
}

.container-fluid {
	min-width: 100%;
	@include clearfix;
}

/* Classes */
.row {
	margin: 0 auto;
	@include clearfix;
}
.row.row-minus {
	margin-left: ($column-indent * -1);
	margin-right: ($column-indent * -1);
}
.row.column { float: none;}

.column {
	width: 100%;
	min-height: 1px;
	float: left;
	padding-left: $column-indent;
	padding-right: $column-indent;
}

.clearfix { @include clearfix;}



