/* Default */
$main-color:			#4f4f4f;
$main-font-size:		15px;
$main-line-height:		25px;
$main-font-family:		'Open Sans', sans-serif;
$main-link-color:		#303841;
$main-link-color-hover:	#ffc12d;

$orange:				#ffc12d;
$blue:					#442a9d;
$gray:					#999;

//----------------------grid--------------------
$column-indent: 		.9375rem;

$width-main: 			1170px;
$width-desktop:			950px;
$width-laptop: 			750px;
$width-tablet: 			450px;
$width-mobile: 			100%;

// HD
$widescreen-breakpoint:	1200px;
// Widescreen Screen
$desktop-breakpoint:	1000px;
// Desktop
$laptop-breakpoint: 	768px;
// Tablet
$tablet-breakpoint: 	480px;
// Mobile
$mobile-breakpoint: 	320px;

//------------------------------