/* Import */
@import "variables";
@import "mixin";
@import "grid";
@import "base";

/*------------------------------------ Content */
section {}

.footer-spacing {
	height: 50px;
	@include clearfix;
}

/*----------------------------- Sidebar Column */
.sidebar-bg {
	width: 319px;
	background: #303841;
	@include abs (0,0,auto,0,fixed);
}

.sidebar-column {
	width: 319px;
	padding: 45px 0 0;
	float: left;
	position: relative;
}

/* Logo */
.logo-box {
	padding: 0 26px 55px;
	@include font (28,30);
	a {
		@include link-color ($orange,#fff);
	}
}

/* Category Menu */
.category-menu {
	li {
		a {
			padding: 10px 26px;
			display: block;
			color: #fff;
			position: relative;
			@include font (18,32);
			@include before {
				height: 2px;
				background: #394149;
				@include abs (auto,18px,18px);
			}
			i.fa { min-width: 42px; }
			&.active {
				top: -2px;
				background: #442a9d;
				@include font (18,48);
				@include before {
					width: 5px;
					height: auto;
					background: #ffc12d;
					@include abs (0px,0,auto);
				}
			}
			&:hover { color: $orange; }
		}
	}
}

/*----------------------------- Content Column */
.content-column {
	width: calc(100% - 319px);
	float: left;
	background: #fff;
}

/* Top */
.content-top__wrap {
	padding: 15px 35px 12px;
	@include clearfix;
	@include border (#f8f8f8,0 0 2px);
}

.content-top__breadcrumbs {
	width: 30%;
	float: left;
	overflow: hidden;
	li {
		padding: 10px 25px 0 0;
		float: left;
		color: $blue;
		@include font (16,20,bold);
		a {}
		&:before {
			content: "\f105";
			font-family: FontAwesome;
			margin-right: 19px;
			color: $main-color;
		}
		&:first-child:before { display: none; }
	}
}

.content-top__panel {
	max-width: 70%;
	float: right;
	letter-spacing: -0.3em;
	& > * { vertical-align: middle; }
}

.content-top__search {
	letter-spacing: normal;
	display: inline-block;
	position: relative;
	input[type="text"] { min-width: 285px; }
	a {
		color: $gray;
		transform: translateY(-50%);
		@include abs (50%,auto,17px,auto);
	}
	@include desktop-widescreen {
		input[type="text"] { min-width: 200px; }
	}
	@include laptop-max {
		input[type="text"] {
			max-width: 120px;
			min-width: inherit;
		}
	}
}

.content-top__notice {
	padding-left: 42px;
	letter-spacing: normal;
	display: inline-block;
	@include font (17,18);
	a {
		position: relative;
		@include link-color (#dedede,#595959);
		span {
			min-width: 17px;
			padding: 0 2px 0 2px;
			color: #fff;
			text-align: center;
			background: #f14e95;
			@include font (12,17,bold);
			@include abs (-2px,auto,-12px,auto);
			@include border-radius (8px);
		}
	}
	@include desktop-widescreen { padding-left: 32px; }
	@include laptop-max { padding-left: 22px; }
}

.content-top__login {
	padding-left: 42px;
	letter-spacing: normal;
	display: inline-block;
	@include font (16,20,bold);
	img {
		max-width: 38px;
		margin-right: 12px;
		vertical-align: middle;
		@include border-radius (50%);
	}
	@include desktop-widescreen { padding-left: 32px; }
	@include laptop-max { padding-left: 22px; }
}

/* Middle */
.content-middle__wrap {
	padding: 61px 35px 0;
	@include clearfix;
}

.content-middle__image {
	width: 128px;
	padding: 0 20px 0 0;
	float: left;
	img {
		display: block;
		@include border-radius (50%);
	}
}

.content-middle__data {
	width: calc(100% - 128px);
	float: left;
}

.content-middle__title {
	padding: 0 0 14px;
	@include border (#f1f1f1,0 0 2px);
	.title {
		text-transform: uppercase;
		@include font (20,20,bold);
	}
	.status {
		padding: 0 8px;
		margin-left: 20px;
		display: inline-block;
		color: #fff;
		text-transform: uppercase;
		background: $orange;
		vertical-align: middle;
		@include font (12,19,bold);
		@include border-radius (3px);
	}
	.note {
		padding: 3px 0 0;
		color: $gray;
	}
}

.content-middle__feedback {
	padding: 21px 0px 0 0;
	@include clearfix;
}

.content-middle__phone {
	width: 32%;
	padding-right: 10px;
	float: left;
	color: $gray;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	@include font (12,24,bold);
	span {
		display: block;
		color: $blue;
	}
}

.content-middle__button {
	width: 30%;
	padding-top: 7px;
	float: right;
	text-align: right;
}

/* Tabs Menu */
.tabs-menu {
	padding: 84px 35px 0;
	position: relative;
	bottom: -3px;
	@include clearfix;
	li {
		padding-right: 29px;
		float: left;
		a {
			padding: 0 15px 20px;
			display: block;
			text-transform: uppercase;
			position: relative;
			@include font (14,20,bold);
			&.active {
				@include before {
					height: 6px;
					background: $blue;
					@include abs (auto,0px,0px);
					@include border-radius (3px);
				}
			}
		}
	}
}

/*------------------------------------- Footer */
footer {}
/*-------------------------------------------  */

